@use "../configuration.scss" as *;

.header {
    @include spacing(padding, y, 20px);
    &__container {
        @include grid-setup(on, repeat(2, auto), repeat(3, auto), "logo search login" "nav nav nav");
        @include respond-to(desktop) {
            @include grid-setup(on, auto, repeat(4, auto), "logo nav search login");
        }
    }
    &__logo {
        grid-area: logo;
        @include spacing(margin, right, 111px);
        @include respond-to(desktop) {
            @include spacing(margin, right, 125px);
        }
    }
    &__button {
        @include size(default, 24px, 24px);
        &:nth-child(2) {
            grid-area: search;
            @include spacing(margin, right, 32px);
            @include respond-to(desktop) {
                @include spacing(margin, right, 64px);
            }
        }
        &:nth-child(3) {
            grid-area: login;
        }
    }
    .nav {
        grid-area: nav;
        @include size(default, 256px, fit-content);
        @include spacing(padding, top, 15px);
        @include respond-to(desktop) {
            @include size(default, 512px, fit-content);
            @include spacing((padding, margin), (top, right), 0px, null, null, 296px);
        }
        &__list {
            @include grid-setup(
                on,
                repeat(2, auto),
                repeat(2, auto),
                "catalog gallery" "about contacts",
                $row-gap: 6px
            );
            @include respond-to(desktop) {
                @include grid-setup(
                    on,
                    auto,
                    repeat(4, auto),
                    "catalog gallery about contacts",
                    $row-gap: 0px,
                    $column-gap: 64px
                );
            }
        }
        &__item {
            @include size(default, fit-content);
            &:nth-child(1) {
                grid-area: catalog;
            }
            &:nth-child(2) {
                grid-area: gallery;
                @include grid-item-alignment(end);
                @include respond-to(desktop) {
                    @include grid-item-alignment(start);
                }
            }
            &:nth-child(3) {
                grid-area: about;
            }
            &:nth-child(4) {
                grid-area: contacts;
                @include grid-item-alignment(end);
                @include respond-to(desktop) {
                    @include grid-item-alignment(start);
                }
            }
        }
        &__link {
            @extend %nav-link;
        }
    }
}

.main-content {
    @include background-image("@img/main_content_bg.png", no-repeat, cover, center);
    @include respond-to(desktop) {
        @include background-image("@img/main_content_bg_desktop.png");
    }
    &__container {
        @include spacing(padding, y, 100px);
        @include respond-to(desktop) {
            @include spacing(padding, y, px);
        }
    }
    &__heading {
        @extend %main-content-heading;
        line-height: 1;
    }
    &__text {
        display: none;
        @extend %main-content-help-text;
        @include respond-to(desktop) {
            display: block;
            @include spacing(margin, (top, bottom), 16px, 24px);
        }
    }
    &__button {
        @include spacing(margin, top, 20px);
        @include respond-to(desktop) {
            @include spacing(margin, top, 0px);
        }
    }
}

.collection {
    @include spacing(margin, top, 60px);
    &__heading {
        @include spacing(margin, bottom, 30px);
    }
    .card {
        @include border(all, 1px, solid, color("black"));
        @include flex(on, column, $align-items: center);
        &__image-container {
            background-color: color("black");
            @include size(default, 252px, 180px);
            @include flex(on, $align-items: center, $justify: center);
        }
        &__content {
            @include size(default, 223px, 290px);
            @include spacing(padding, (top, bottom), 16px, 24px);
            @include flex(on, column, $align-items: flex-start);
        }
        &__heading {
            @extend %card-heading;
        }
        &__description {
            @extend %card-description;
            @include spacing(margin, top, 8px);
        }
        &__button {
            @include spacing(padding, (x, y), 28.5px, 10.5px);
            @include spacing(margin, top, auto);
        }
    }
    .slider {
        &__slides {
            @include flex(on, $align-items: center, $gap: 16px);
        }
        &__indicators {
            @include flex(on, $justify: center, $gap: 20px);
            @include spacing(margin, top, 15px);
            @include respond-to(desktop) {
                display: none;
            }
        }
        &__indicator {
            @include size(default, 10px, 10px);
            background-color: color("black");
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            &.active {
                background-color: color("green-toxic");
            }
        }
    }
}

.artifacts {
    @include spacing(margin, top, 60px);
    &__container {
        @include respond-to(desktop) {
            @include grid-setup(on, repeat(2, auto), repeat(2, auto), "heading heading" "collage info");
        }
    }

    &__heading {
        grid-area: heading;
        @include spacing(margin, bottom, 30px);
    }
    &__collage {
        grid-area: collage;
        @include size(default, 795px, 485px);
        @include respond-to(desktop) {
            @include size(default, 794px, 461px);
        }
    }
    &__description {
        @extend %artifacts-description;
        @include spacing(margin, (top, bottom), 8px, auto);
    }
    &__info {
        grid-area: info;
        @include size(default, 255px, 493px);
        @include spacing(margin, top, 30px);
        background-color: color("green-toxic");
        @include respond-to(desktop) {
            @include spacing(margin, top, 0px);
        }
        &-container {
            @include spacing(padding, (x, y), 16px, 24px);
            @include size(default, 100%, 100%);
            @include flex(on, column);
        }
        &-heading {
            @extend %artifacts-info-heading;
        }
    }
    &__button {
        @include size(default, fit-content);
    }
    &__image {
        &:nth-child(2) {
            @include respond-to(desktop) {
                display: none;
            }
        }
    }
    .slider {
        background-color: color("black");
        @include size(default, fit-content, fit-content);
        &__window {
            @include size(default, 255px, 517px);
            @include respond-to(desktop) {
                @include size(default, 825px, 493px);
            }
        }
        &__slide {
            @include spacing(padding, all, 16px, 16px);
            @include size(default, fit-content, fit-content);
        }
    }
}

.help {
    @include spacing(margin, top, 60px);
    @include background-image("@img/help_bg.png", no-repeat, cover, center);
    @include respond-to(desktop) {
        @include background-image("@img/help_bg_desktop.png");
    }
    &__container {
        @include spacing(padding, y, 60px);
    }
    &__description {
        @extend %main-content-help-text;
        @include spacing(margin, (top, bottom), 16px, 24px);
        @include respond-to(desktop) {
            @include size(default, 825px, null);
        }
    }
    .form {
        @include flex(on, column, $align-items: flex-start, $gap: 16px);
        &__submit {
            @include spacing(padding, (x, y), 26px, 11.5px);
        }
    }
}
